.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: -webkit-fill-available;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactTable .rt-th, .ReactTable .rt-td {
  padding: 0;
}
.ReactTable > .rt-table > .rt-tbody {
  overflow: visible;
}
.ReactTable > .rt-table > .rt-thead > .rt-tr > .rt-th:first-child {
  position: sticky;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.15);
}
.ReactTable > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr.-odd > .rt-td:first-child {
  position: sticky;
  left: 0;
  background-color: #f7f7f7;
  box-shadow: 2px 0 15px 0 rgba(0,0,0,0.15);
  z-index: 0;
}
.ReactTable > .rt-table > .rt-tbody > .rt-tr-group > .rt-tr.-even > .rt-td:first-child {
  position: sticky;
  left: 0;
  background-color: #ffffff;
  box-shadow: 2px 0 15px 0 rgba(0,0,0,0.15);
  z-index: 0;
}
.ReactTable.ReactTableFixedGridHeader {
  display: none;
}
.rd-td-content {
  padding: 7px 5px;
  text-align: left;
}
.rt-td-sel {
  background:#0000001f;
}
.rt-td-foc {
  outline: 1px black auto;
}
.rt-td-tools {
  padding: 7px 5px;
  position: sticky;
  left: 0;
  z-index: 1;
}